open-clip-torch==2.23.0
ftfy
datasets==1.17.0
nltk==3.5
pandas==1.3.5
timm==0.9.8
Pillow==9.0.0
scikit-learn==1.2.0
torchvision==0.15.1
torch==1.11.0
transformers==4.37.2
transformers[torch]
mixture_of_experts